html{ 
  height:100%;
  background-image:
  url('https://images.pexels.com/photos/1037993/pexels-photo-1037993.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
  background-size:cover;
}


#banner{
  padding-top:22%;
  font-family:'Amatic SC', cursive;
  font-size:35px;
  display:flex;
  justify-content:center;
}
 #heading{ 
   height: 100%;
   font-family: 'Pangolin', cursive;;
   display:flex;
   justify-content:space-around;
   color:#7c7cb2;
 }
 
 #heading:hover{
  opacity:1;
  
}

.navbar {
  display:flex;
  justify-content:space-around;
  background-color:white;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  
}
.navbar a {
  float:left;
  display:block;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  color:#9370DB;
  font-family:'Great Vibes', cursive;
}

.navbar a:hover {
  color:white;
  background:#9370DB;
}
.my-picture:hover{
   -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
#about-content{
  display:flex;
  justify-content:space-around;
  margin-top:22%;
}

img{
  border-radius:50%;
  border:solid 5px #9370DB;
  width: 80%;
}

.my-description{
  background:white;
  margin:3%;
  padding:4%;
  font-family:'Alegreya', serif;
}


.project-container{
  margin-top:20%;
  display:flex;
  width:100%;
  height:100%;
  justify-content:space-between;
}

span{
  background:#9370DB;
  width:30%;
  height:60%;
  margin:2%;
  padding:2%;
  font-family:Lobster;
  color:white;
  align-items:center;
}

  .music:hover{
  border-radius:0%;
}
project-container{
margin-op:20%;
display:flex;
width:100%;
hieght:100%;
justify-content:space-between;
}
span{
  background:#930DB;
  idth:30%;
  height:60%;
  margin:2%;
  padding:2%;
  font-family:'montserrat',sans-serif;
  color:white;
  align-items:center;
}
}
